

        /*===== VISUALIZAÇÃO ===== */

        body {
            margin: 0;
            background: black;
            overflow: hidden;
            font-family: 'Courier New', monospace;
            color: white;
        }

        /* ===== MENU ===== */
        #menu {
            position: fixed;
            inset: 0;
            background: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31024bb7-a660-492f-b72c-0a7ccee3bd39/dg1l1wb-de8432c7-66c5-4593-a200-09d290980453.png/v1/fill/w_760,h_1052,q_70,strp/scp_096_by_avargus_dg1l1wb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc3MiIsInBhdGgiOiJcL2ZcLzMxMDI0YmI3LWE2NjAtNDkyZi1iNzJjLTBhN2NjZWUzYmQzOVwvZGcxbDF3Yi1kZTg0MzJjNy02NmM1LTQ1OTMtYTIwMC0wOWQyOTA5ODA0NTMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QnMgGbEBCBYwxpvmdY99TmFcGvCN0PLODi-ZUgKvuY4");
        }

        #menu h1 {
            color: darkred;
            margin-bottom: 20px;
            text-shadow: 0 0 15px red;
        }

        #menu h2, #menu h3 {
            margin: 10px 0;
            max-width: 600px;
            text-align: center;
            font-weight: normal;
            color: darkred;
        }

        #menu button {
            padding: 15px 30px;
            font-size: 20px;
            cursor: pointer;
            background: black;
            color: white;
            border: 2px solid darkred;
        }

        #menu button:hover {
            background: darkred;
        }

        /* ===== JOGO ===== */
        #game {
            width: 100vw;
            height: 100vh;
            position: relative;
            cursor: none;
            display: none;
            background-repeat: no-repeat; /* faz com que a imagem fique do tamanho da tela do jogo */
            background-size: cover; /* faz com que a imagem fique do tamanho da tela do jogo */
            background-position: center;
        }

        #lanterna {
            position: absolute;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            pointer-events: none;
            background: radial-gradient(circle, rgba(255,255,255,0.12) 0%, rgba(0,0,0,0.96) 70%);
        }

        #chave {
            position: absolute;
            width: 26px;
            height: 26px;
            background: #2e2e2e;
            border-radius: 4px;
        }

        #monstro {
            position: absolute;
            width: 50px;
            height: 50px;
            background: rgb(0, 0, 0);
            border-radius: 50%;
            box-shadow: 0 0 20px red;
        }

        #mensagem {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
            text-shadow: 0 0 10px red;
        }

        .chave{
            position: absolute;
            width: 26px;
            height: 26px;
            background-color: #2e2e2e;
            border-radius: 4px;
        }
        #hud {
            position: fixed;
            top: 10px;
            left: 10px;
            font-family: 'Times New Roman', serif;
            font-size: 18px;
            z-index: 9999;
            color: red;
            background: rgba(0,0,0,0.6);
            display: none;
}


        /* ===== JUMPSCARE ===== */
        #jumpscare {
            position: fixed;
            inset: 0;
            background: black;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 20;
        }

        #jumpscare div {
            width: 100vw;
            height: 100vh;
            background: radial-gradient(circle, red, black);
            animation: piscar 0.1s infinite;
        }

        @keyframes piscar {
            0% { opacity: 1; }
            50% { opacity: 0.2; }
            100% { opacity: 1; }
        }

        #jumpscare div {
            background-image: url('https://i.ytimg.com/vi/Vy3DCSJse60/hqdefault.jpg');
            background-size: cover;
            background-position: center;
        }

        #SecretButton {
            z-index: 9999;
            position: fixed;
            bottom: 20px;
            right: 20px;
            font-size: 16px;
            background: black;
            color: rgb(59, 1, 1);
            display: none;
            opacity: 0.8;
        }